# NextAuth
NEXTAUTH_SECRET="change-this-to-a-random-secret-string"
NEXTAUTH_URL="https://daily.dochoitinphat.com"

# Lark Base
LARK_APP_ID="your-lark-app-id"
LARK_APP_SECRET="your-lark-app-secret"
LARK_APP_TOKEN="your-lark-app-token"
LARK_BASE_URL="https://open.larksuite.com"

# Lark Tables
LARK_TABLE_PRODUCTS="tbllVb4meuAjkx1G"
LARK_TABLE_USERS="tblckmLenaZoheTR"
LARK_TABLE_ORDERS="tblGVAO56iUIFunO"
LARK_TABLE_ORDER_ITEMS="tblatHPphzSlFPp7"
